<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- OpenLayers -->
    <script src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css">

    <!-- 오픈레이어스5 js -->
    <script src="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/build/ol.js"></script>
    <link rel="stylesheet" href="https://cdn.rawgit.com/openlayers/openlayers.github.io/master/en/v5.3.0/css/ol.css" type="text/css">

    <!--<script type="text/javascript" src="openlayers.js"></script>-->
    <link rel="stylesheet" type="text/css" href="/css/ol.css">
    <script src="/js/ol.js"></script>
    <script src="/js/proj4.js"></script>
</head>
<script>
    proj4.defs('EPSG:980201', '+proj=lcc +lat_1=30 +lat_2=60 +lat_0=0 +lon_0=126 +x_0=0 +y_0=0 +datum=WGS84 +units=m +no_defs');
    proj4.defs('EPSG:5179', '+proj=tmerc +lat_0=38 +lon_0=127.5 +k=0.9996 +x_0=1000000 +y_0=2000000 +ellps=GRS80 +units=m +no_defs');
    ol.proj.proj4.register(proj4);

    //1. view 객체
    const baseCenter = ol.proj.transform([128.250000, 35.90000], 'EPSG:4326', 'EPSG:980201');
    const baseZoom = 7;

    const mapView = new ol.View({
        center: baseCenter, //중심좌표
        extent: ol.proj.transformExtent([122.5, 32, 135, 42.55], 'EPSG:4326', 'EPSG:980201'),
        minZoom: 7, //최소 Zoom레벨
        projection: 'EPSG:980201', //줌 사용시 해상도
        resolutions: 'EPSG:5179', //기본 해상도
        zoom: baseZoom //초기 지도 Zoom레벨
    });


    // 좌표 변환
    // 작성 예시 : 작성된 기준값을 통해 OpenLayers에서 활용되는 지도에서 사용 가능한 위경도로 변환이 가능하다.
    var center = ol.proj.transform([127.825763, 36.916613], 'EPSG:4326','EPSG:3857');


    // 2. control 객체
    // map객체 초기화시 사용할 변수
    const extend = [
        new ol.control.ScaleLine({ units: 'metric' }), //축적 생성
        new ol.control.MousePosition({ //마우스가 위치한 좌표반환
            projection: 'EPSG:4326',
            coordinateFormat: function(coordinate) {
                return ol.coordinate.format(coordinate, '{y}, {x}', 6);
            }
        })
    ]

    // 3. Layer 객체
    // 그냥 지도
    const layer01 = new ol.layer.Tile({
        source: new ol.source.OSM()
    })

    //타일 있는 지도
    const layer02 = new ol.layer.Tile({
        source: new ol.source.XYZ({url: 'http://xdworld.vworld.kr:8080/2d/Base/202002/{z}/{x}/{y}.png'})
    })


    // 4. Map 객체
    var map01 = new ol.Map({

        controls: new ol.control.defaults({ zoom: false }).extend(extend), //지도의 제한

        layers: [layer01], //지도의 스타일

        view: baseCenter, //지도 초기 설정

        // 지도 사용의 제한들 (Default값이 존재하므로 생략해도 무관)
        interactions: new ol.interaction.defaults({
            altShiftDragRotate: false, //alt+shift+드래그 회전을 원하는지
            doubleClickZoom: false, // 더블클릭 줌이 필요한지
            dragPan: true, //드래그 팬(이동)이 필요한지
            mouseWheelZoom: false, //마우스 휠 줌이 필요한지
            pinchRotate: false, //핀치 회전이 필요한지
            pinchZoom: false, // 핀치 줌이 필요한지
            shiftDragZoom: false //shift+드래그 줌이 필요한지
        }),

        target: "risk_map", //지도를 그릴 대상이 되는 html요소의 id

    });
</script>
<style>
    #map {
        width: 100%;
        height: 700px;
    }
</style>

<body>
  <div id="map"></div>
</body>
</html>